body {
  background-color: rgb(117, 138, 247);
  width: 100%;

}

nav {
  clear: both;
}

h1 {
  text-align: center;
}

.input-form{
  width: 100%;
  align-items: stretch;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
}


.container {
  width: 100%;
  height: 400px;
  color: blue;
}

label {
  padding: 10px;
}

#goalSet{
  text-align: center;
}

#food-data {
  width: 50%;
  float: left;
  overflow: scroll;
  height: 500px;
  border-collapse: collapse;
}


#charts {
  width: 45%;
  float: right;
  overflow: scroll;
  height: 500px;
}

.delete {
  width: 50px;
  height: 30px;
  background-color: red;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
}

.update {
  width: 50px;
  height: 30px;
  background-color: rgb(119, 89, 190);
  border-radius: 5px;
  margin: 5px;
  text-align: center;
}

th {
  text-align: center;
  width: 100px;
}

tr {
  text-align: center;
  width: 100px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  border-radius: 5px;
}
