body {
  background: url('/images/asparagus.jpg');
  /* background-color: rgb(117, 138, 247); */
  background-size: 100%;
  background-repeat: repeat;
  color: white;
}

header{
  height: 8em;
}

nav {
  /* clear: both; */
}

h1 {
  text-align: center;
  font-size: 3em;
  /* font-style: oblique; */
  font-family: Apple Chancery, cursive;
}

label{
  /* margin: 26.70px; */
  padding-left: 0.25em;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 1.5em;
  font-weight: bold;
}

/* .dropdwon{
  font-size: 1.5em;
  font-weight: bold;
} */

h5 {
  padding-left: 1em;
  padding-right: 2em;
  /* width: 5em;
  vertical-align: middle;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px; */
}

h5, input {
  text-transform: capitalize;
  text-align: center;
  display: inline-block;
  font-size: 1.5em;
}

input.foodName, input.calories {
  width: 70px;
}

.input-form{
  vertical-align: middle;
  width: 100%;
  align-items: stretch;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
}

.update-form {
  /* display: flex; */
  /* flex-wrap: nowrap; */
  justify-content: space-between;
}

#container {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  margin: auto;
}

#concat{
  display: inline-block;
}

#goalSet{
  text-align: center;
}

#food-data {
  width: 60%;
  float: left;
  overflow: scroll;
  height: 500px;
  border-collapse: collapse;
}


#charts {
  width: 35%;
  float: right;
  overflow: scroll;
  height: 500px;
}

button {
  width: 50px;
  height: 30px;
  background-color: red;
  border-radius: 5px;
  margin: 5px;
  margin-top: 15px;
  text-align: center;
}

.submit {
  width: 50px;
  height: 30px;
  background-color: red;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
}

/* th {
  text-align: center;
  width: 100px;
} */

/* tr {
  text-align: center;
  width: 100px;
} */

.update-form:nth-child(even) {
  background-color: rgb(24, 163, 17);
  border-radius: 5px;
}

.update-form:nth-child(odd) {
  background-color: rgb(184, 20, 84);
  border-radius: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8218ce;
  border-radius: 10px;
  width: 100%;
  display: inline-block;

}


li a {
  float: left;
  border-radius: 10px;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 22%;
  font-size: 1.5em;
  font-weight: bold;

}

a {
  padding: 1000px;
}

li a:hover {
  background-color: #111;
}

td .updateForm {
  column-span: 5;
  column-width: 500px;
}

form, ul {
  border: 2px solid black;
  border-radius: 10px;
}

select {
  width: 15px;
  position: relative;
  boarder: 25%;
}

option {
margin-top: 10px;
}
