body {
  background-color: rgb(117, 138, 247);
  width: 100%;

}

nav {
  clear: both;
}

h1 {
  text-align: center;
}

.input-form{
  width: 100%;
  align-items: stretch;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
}


.container {
  width: 100%;
  height: 400px;
  color: blue;
}

label {
  padding: 10px;
}

#food-data {
  width: 50%;
  float: left;
  overflow: scroll;
  height: 500px;
}


#charts {
  width: 45%;
  float: right;
  overflow: scroll;
  height: 500px;
}

.delete {
  width: 50px;
  height: 30px;
  background-color: red;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
}

.update {
  width: 50px;
  height: 30px;
  background-color: rgb(119, 89, 190);
  border-radius: 5px;
  margin: 5px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8218ce;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 300px;
}

li a:hover {
  background-color: #111;
}